<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.ejs') %>
<body>
    <h1 class="title"><%= title %></h1>

    <%- include('partials/navbar.ejs') %>


    <ul class="list_users">
        <% users.forEach((user) => { %>
            <li class="user">
                <%= user.name %> - <%= user.email %> - Idade: <%= user.age %>
                <a class="action" href="/edit?id=<%= user._id %>">[editar]</a>
                <a class="action" href="/remove/<%= user._id %>">[remover]</a>
            </li>
        <% }) %>
    </ul>

    <script src="js/main.js"></script>
    <%- include('partials/foot.ejs') %>
</body>

</html>