<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/head.ejs') %>
<body>
    <h1 class="title"><%= title %></h1>

    <%- include('partials/navbar.ejs') %>


    <ul class="list">
        <% users.forEach((user) => { %>
            <li class="list_item">
                <%= user.name %>: <%= user.email %>
                Idade: <%= user.age %>
                <a href="#">[editar]</a>
            </li>
        <% }) %>
    </ul>

    <script src="js/main.js"></script>
    <%- include('partials/foot.ejs') %>
</body>

</html>